In [3]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df    # shows file dataframe with all columns

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
rows, columns = df.shape  # returns number of rows and columns

In [5]:
df.head(2)   # prints first 2 rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [6]:
df.tail(4)  # prints last 4 rows

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
df[2:5]  # prints rows 2, 3, 4

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [8]:
df[:] # prints all rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [9]:
df.columns # prints all the columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [10]:
df.day # prints all the rows in the day column

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [11]:
df['event'] # prints all the rows in the event column

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [12]:
type(df['event']) # returns the type of the event column

pandas.core.series.Series

In [13]:
df[['event', 'day']] # prints all the rows in the event and day columns

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [14]:
df['temperature'].max()   # returns the maximum value in the temperature column

35

In [15]:
df['temperature'].std() # prints standard deviation of temperature data

3.8297084310253524

In [16]:
df.describe() # prints summary statistics of the dataframe

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [18]:
df[df.temperature>=30] # prints all rows with temperature greater than 30

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [21]:
df[['day','temperature']][df.temperature == df.temperature.max()] # prints all rows with maximum temperature

        day  temperature
1  1/2/2017           35

In [ ]:
# for more - https://pandas.pydata.org/docs/reference/api/pandas.Series.html